<div class="container-fluid detailCard">
  <div class="row text-center">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
      <center>
      <button class="btn btn-primary btn-lg detailButton" ng-click="detail.goBack()">
            Go Back
      </button>
      </center>
    </div>
    <div class="spinner">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center innerDetail" ng-model="detail.loadList">
      <detail-card data="detail" >
      </detail-card>
    </div>
  </div>
</div>
