<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-12 text-center">
      <nav class="navbar navbar-default secondNavbar ">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><b>Sort and filters</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav colorWhite">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Sort</b><span class="caret"></span></a>
              <ul class="dropdown-menu text-center">
                <li ng-click="list.sortList()"><center>A-Z</center></li>
                <li ng-click="list.sortReverse()"><center>Z-A</center></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right colorWhite">
            <!-- First filter list -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Filter by {{list.first_click}}</b><span class="caret"></span></a>
              <ul class="dropdown-menu text-center">
                <li ng-click="list.selected_first(1)"><center><b>Type</b></center></li>
                <li  ng-click="list.selected_first(2)"><center><b>Name</b></center></li>
              </ul>
            </li>
            <!-- Second filter list -->
            <li class="dropdown" ng-show="list.id1 == 1">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>{{list.second_click}}</b><span class="caret"></span></a>
              <ul class="dropdown-menu colorWhite text-center">
                <li  ng-click="list.selected_second(0)"><center><b>None</b></center></li>
                <li  ng-click="list.selected_second(1)"><center><b>Books</b></center></li>
                <li ng-click="list.selected_second(2)"><center><b>Characters</b></center></li>
                <li ng-click="list.selected_second(3)"><center><b>Houses</b></center></li>
              </ul>
            </li>
            <!-- Second sub-filter -->
            <li class="dropdown" ng-show="list.id1 == 2">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Enter Name</b><span class="caret"></span></a>
              <ul class="dropdown-menu colorWhite">
                <li>
                  <form>
                  <div class="form-group">
                  <input type="text" class="form-control" id="filter_entered" ng-model="inputVal">
                  </div>
                </form>
                </li>
              </ul>
            </li>
            <!-- Second sub-filter third option -->
            <li class="dropdown" ng-show="list.id2 == 2">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Allegiance and TV</b><span class="caret"></span></a>
              <ul class="dropdown-menu colorWhite text-center">
                <li><center><input type="checkbox" name="gender" value="male" id="check1" ng-click="list.selected_third(0,'check1',[229,230,231])"><b>House Lannister</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check2" ng-click="list.selected_third(0,'check2',[378])"><b>House Targaryen</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check3" ng-click="list.selected_third(0,'check3',[170,215,362])"><b>House Stark</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check4" ng-click="list.selected_third(0,'check4',[15,16,17])"><b>House Baratheon</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check5" ng-click="list.selected_third(0,'check5',[34])"><b>House Bolton</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check6" ng-click="list.selected_third(0,'check6',[142,143])"><b>House Frey</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check7" ng-click="list.selected_third(0,'check7',[397,398])"><b>House Tyrell</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check8" ng-click="list.selected_third(0,'check8',0)"><b>Appeared on TV</b></center></li>
              </ul>
            </li>
             <!-- Second sub-filter fourth option -->
             <li class="dropdown" ng-show="list.id2 == 3">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Region</b><span class="caret"></span></a>
              <ul class="dropdown-menu colorWhite text-center">
                <li><center><input type="checkbox" name="gender" value="male" id="check9" ng-click="list.selected_third(1,'check9',['The North'])"><b>North</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check10" ng-click="list.selected_third(1,'check10',['The Westerlands'])"><b>Westerlands</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check11" ng-click="list.selected_third(1,'check11',['The Crownlands'])"><b>Crownlands</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check12" ng-click="list.selected_third(1,'check12',['The Riverlands'])"><b>Riverlands</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check13" ng-click="list.selected_third(1,'check13',['Dorne'])"><b>Dorne</b></center></li>
                <li><center><input type="checkbox" name="gender" value="male" id="check14" ng-click="list.selected_third(1,'check14',['The Vale'])"><b>The Vale</b></center></li>
                 <li><center><input type="checkbox" name="gender" value="male" id="check15" ng-click="list.selected_third(1,'check15',['The Reach'])"><b>The Reach</b></center></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <div class="row text-center buttons">
    <div class="spinner text-center" >
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 colorWhite pages" style="display: none">
      <center>
      <button class="btn btn-primary btn-lg" ng-disabled="list.currentPage == 0" ng-click="list.currentPage=list.currentPage-1">
            Previous
      </button> 
      {{list.currentPage+1}}/{{list.numberOfPages(filtered.length)}} 
      <button class="btn btn-primary btn-lg" ng-disabled="list.currentPage >= filtered.length/list.pageSize - 1" ng-click="list.currentPage=list.currentPage+1">
      Next
      </button>
    </div>
  </div>
  <div id="srow" class="text-center" style="display: none"><br><br><br>No Results</div>
  <div class="row secondRow" style="display: none" >
    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2 cardStyle" ng-repeat="data in filtered = ( list.loadList | filter : list.filter_item ) |  startFrom:list.currentPage*list.pageSize | limitTo:list.pageSize" >
      <my-card ng-click="list.sendDetail(data.url)" data="data" >
      </my-card>
    </div>
  </div>


</div>
